<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="thrash-panda-logo">
        <!-- <img src="assets/img/thrash-panda.svg" alt="Thrash Panda"> -->
        <img [src]="logoUrl()" [alt]="logoAltText()">
      </div>
      <!-- <h1 class="display-3 text-center mb-4">Thrash Panda</h1> -->
      <p class="lead text-center">Favorites and deep cuts from Thrash Metal's classic era</p>
    </div>
  </div>

  
  <div class="row mt-5">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">About Us</h2>
          <p class="card-text">
            Thrash Panda brings you the best in heavy metal music, merchandise, and live experiences.
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">What We Offer</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark text-light">Book your events</li>
            <li class="list-group-item bg-dark text-light">Exclusive merchandise</li>
            <li class="list-group-item bg-dark text-light">Live performances</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
